<section>
    <div class="video-page-wrapper">
        <div class="background-container">
            <img class="center-vertical" src="{{background}}" alt="Concert"/>
            <div class="overlay"></div>
        </div>
        <div class="content center-vertical text-center">
            <h2 class="title">{{title}}</h2>
            <p class="description">{{description}}</p>
            <a href="/videos" class="circle-button play-button text-center">
                <i class="icons fa fa-play"></i>
            </a>
        </div>
    </div>
</section>