<section id="contact-section">
    <div class="container">
        <div class="image-container">
            <img src="{{image}}" alt="Mic"/>
        </div>
        <div class="content">
            <h1 class="title">{{title}}</h1>
            <p class="description">{{description}}</p>
        </div>
        <div class="button-container">
            <a class="button-medium" href="/contacts"> <span class="button-text">{{buttonText}}</span></a>
        </div>
    </div>
</section>