<section class="quote-section">
    <div class="container">
        <div class="quote-wrapper">
            <h2 class="title">{{{quote}}}</h2>
            <p class="author">{{author}}</p>
        </div>
    </div>
</section>