<div class="cup-award">
    <div class="single-award">
        <img class="certificate" src="{{certificateUrl}}" alt="Featured award"/>
        <img class="cup" src="{{trophyUrl}}" alt="Featured award trophy"/>
    </div>
</div>