<div class="video-wrapper">
    <div class="background-wrapper">
        <img class="center" src="/" alt="Video" data-video-id="{{this}}" />
        <div class="overlay"></div>
    </div>
    <div class="circle-button play-button">
        <i class="icons fa fa-play" aria-hidden="true"></i>
    </div>
</div>