<section id="about-us-heading">
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <p class="quote">{{quote}}</p>
        <p class="author">{{author}}</p>
    </div>
</section>